.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 7px;
  border: 1px solid #ddd;
  margin: 10px;
}

code {
	padding: 4px; 
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
  font-size: 12px;
}
